<div class="container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <button class="btn btn-primary btn-lg" type="button">Learn more</button>
    </div>
  </div>
</div>

<!--template que vai receber os dados do app.component.ts
    através do data binding
    primeira forma - interpolação para receber dados dinâmicos
-->
<div class="container">
  <h1>Título do projeto {{title}} e {{data}}</h1>
  <h2>Após adicionar 10 anos a data {{10+getData()}}</h2>
</div>

<!--Aqui abaixo vamos aprender a reagir a interação do usuário, por exemplo clicando em um botão, digitando algo, foco ...
para isso vamos trabalhar com o event binding-->
<div class="container">
  <div class="alert alert-primary" role="alert">
    Nome do projeto <strong>{{title}}</strong>
  </div>

  <div class="alert alert-primary" role="alert">
    Nome dinâmico <strong>{{nome}}</strong>
  </div>

  <div class="mb-3">
    <label>Nome</label>
    <input type="text" class="form-control" (input)="alterarNome($event)">
  </div>
  <!--event binding do angular on-click ou (click)-->
  <button type="button" class="btn btn-primary" (click)="adicionar()">Adicionar</button>

</div>